{{- if .Values.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "litellm.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "litellm.labels" . | nindent 4 }}
data:
  config.yaml: |
    model_list:
      {{- range .Values.models }}
      - model_name: {{ .name }}
        litellm_params:
          model: {{ .model }}
          api_key: os.environ/ANTHROPIC_API_KEY
      {{- end }}

    general_settings:
      master_key: os.environ/LITELLM_MASTER_KEY
{{- end }}
