{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "litellm.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "litellm.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "litellm.selectorLabels" . | nindent 4 }}
{{- end }}
