---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-core-hortator-ai-v1alpha1-agenttask
  failurePolicy: Fail
  name: vagenttask.kb.io
  rules:
  - apiGroups:
    - core.hortator.ai
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - agenttasks
  sideEffects: None
