# permissions for end users to edit agenttasks.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: hortator
    app.kubernetes.io/managed-by: kustomize
  name: agenttask-editor-role
rules:
- apiGroups:
  - core.hortator.ai
  resources:
  - agenttasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.hortator.ai
  resources:
  - agenttasks/status
  verbs:
  - get
