{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hortator.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "hortator.labels" . | nindent 4 }}
    app.kubernetes.io/component: metrics
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 8080
      targetPort: http-metrics
      protocol: TCP
  selector:
    {{- include "hortator.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: operator
{{- end }}
